/MysqlBatchAdd/obj
/MysqlBatchAdd/bin
/MysqlBatchAdd/bin/Debug/MysqlBatchAdd.pdb
/MysqlBatchAdd/bin/Debug/MysqlBatchAdd.vshost.exe
/MysqlBatchAdd/bin/Debug/MysqlBatchAdd.vshost.exe.config
/MysqlBatchAdd/bin/Debug/MySql.Data.dll
/MysqlBatchAdd/bin/Debug/MysqlBatchAdd.exe
/MysqlBatchAdd/bin/Debug/MysqlBatchAdd.exe.config
